<section class="home-section" id="home">
    <div class="container">
        <h1 class="home-title">Past Way</h1>
        <p class="home-text">The World Ended. Your Story Is Just Beginning.</p>
        <p class="home-text-two">Look, you're trapped in this zombie hellscape, and I'm not gonna sugarcoat it - one wrong move and you're toast.
        Scavenge for supplies, uncover dark secrets, and fight your way back to the ones you love.</p>
        <a class="home-link" href="https://play.google.com/store/apps/details?id=com.Neirlast.PastWay&hl=en&gl=us">
            <img src="/img/home/btn.png" alt="google play" loading="lazy">
        </a>
    </div>
</section>
<section class="features-section" id="features">
    <div class="container features-container">
        <div class="features-wrapper">
            <h2>Features</h2>
            <ul class="features-list">
                <li class="features-item">
                    <p class="features-title">Survive at Any Cost</p>
                    <p>Scavenge for ammo, food, and water in a world that wants you dead. Bullets are scarce as hell, so if you go all Rambo on
                    everything, you'll be kicking yourself when you're facing down a horde with an empty clip.</p>
                </li>
                <li class="features-item">
                    <p class="features-title">A Story That Pulls You In</p>
                    <p>Sure, you're trying not to die, but there's this whole mystery you can't shake. Piece by piece, you'll start connecting
                    the dots about how everything went to shit as you progress through the story.</p>
                </li>
                <li class="features-item">
                    <p class="features-title">Fight for Your Family</p>
                    <p>You're not just running from the undead. You have a reason to keep going. That's the only thing that'll stop you from
                    giving up when everything goes sideways.
</p>
                </li>
                <li class="features-item">
                    <p class="features-title">Choices With Consequences</p>
                    <p>Your decisions shape the path ahead. There's no perfect choice here - just whatever you can sleep at night with.
</p>
                </li>
            </ul>
        </div>
        <div class="features-img-wrapper">
            <picture>
                <source srcset="
                 /img/features/desk.png 1x,
                 /img/features/desk@2x.png 2x
                 " media="(min-width: 1440px)" />
                <source srcset="
                 /img/features/mob.png 1x,
                 /img/features/mob@2x.png 2x
                 " media="(max-width: 1439px)" />
                <img src="/img/features/mob.png" alt="Past Way" loading="lazy" />
            </picture>     
            <img class="features-img" src="/img/features/desk-two@2x.png"  alt="Past Way" loading="lazy"/>
        </div>
    </div>
</section>