<section class="home-section" id="home">
    <div class="container">
        <h1 class="home-title">Past Way</h1>
        <p class="home-text">The World Ended. Your Story Is Just Beginning.</p>
        <p class="home-text-two">Look, you're trapped in this zombie hellscape, and I'm not gonna sugarcoat it - one wrong move and you're toast.
        Scavenge for supplies, uncover dark secrets, and fight your way back to the ones you love.</p>
        <a class="home-link" href="https://play.google.com/store/apps/details?id=com.Neirlast.PastWay&hl=en&gl=us">
            <img src="/img/home/btn.png" alt="google play" loading="lazy">
        </a>
    </div>
</section>