.footer {
background: #56a200;
}
.footer-container{
  padding-top: 40px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: #fff;
}
.footer-navigation{
 display: flex;
 flex-direction: column;
 gap: 16px;
 align-items: end; 
}
.footer-text{
    font-weight: 400;
    font-size: 11px;
    text-align: right;
}
@media only screen and (min-width: 1440px) {
.footer-text {
    font-size: 12px;
  }
}